<!DOCTYPE html>
<html lang="{{ context.appConfig.site.locale }}">
    <head>
        <meta charset="{{ context.appConfig.encoding }}">
        {% block meta %}{% endblock %}

        <title>{{ node.title ?? context.appConfig.site.title }}</title>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>{{ node.title }}</h1>

        {{ node.content }}

        <h2>Items:</h2>

        <ul>
            {% for collection in context.collections %}
                {% for item in collection.items %}
                    {% set url = urlGenerator.generate(collection.name, { id: item.routeId }) %}

                    <li>
                        {% if url %}
                            <a href="{{ url }}">{{ item.params.title ?? item.id }}</a>
                        {% else %}
                            Item not found.
                        {% endif %}
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>

        <h2>Posts:</h2>

        <ul>
            {% set collection = context.getCollection('posts') %}

            {% for item in collection.items %}
                {% set url = urlGenerator.generate(collection.name, { id: item.routeId }) %}

                <li>
                    {% if url %}
                        <a href="{{ url }}">{{ item.params.title ?? item.id }}</a>
                    {% else %}
                        Post not found.
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% block javascripts %}{% endblock %}
    </body>
</html>