{% extends 'layout/base.html.twig' %}

{% block title %}
    <title>{{ node.title ?? context.appConfig.site.title }}</title>
{% endblock %}

{% block content %}
    <h1>{{ node.title }}</h1>

    {{ node.content }}

    <ul>
        {% set collection = context.getCollection('posts') %}

        {% for item in collection.items %}
            {% set url = urlGenerator.generate('node_show', { id: item.routeId }) %}

            <li>
                {% if url %}
                    <a href="{{ url }}">{{ item.params.title ?? item.id }}</a>
                {% else %}
                    Post not found.
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}